streamlit
requests
pillow==9.5.0
sentence_transformers
scikit-learn
nltk
sentry-sdk
moviepy==1.0.3
srt
fastapi
uvicorn
gtts
pydantic
mutagen
requests
# Required moviepy dependencies
imageio
imageio-ffmpeg
decorator
tqdm
python-multipart
opencv-python-headless
python-dotenv
